List((
    texture_width: 512,
    texture_height: 256,
    sprites: [
        (
            x: 386,
            y: 174,
            width: 36,
            height: 36,
        ),
        (
            x: 18,
            y: 239,
            width: 17,
            height: 17,
        ),
        (
            x: 5,
            y: 5,
            width: 5,
            height: 5,
        ),
    ],
))
