List((
    texture_width: 1472,
    texture_height: 832,
    sprites: [
        (
            x: 960,
            y: 640,
            width: 64,
            height: 64,
        ),
        (
            x: 1216,
            y: 640,
            width: 64,
            height: 64,
        ),
        (
            x: 1216,
            y: 704,
            width: 64,
            height: 64,
        ),
    ],
))