(
    tiles: Tiles(
        width: 10,
        height: 10,
        indexes: [
            157,  25,  23, 157, 157, 157, 157, 157, 157, 157,
            157,  25,  46,  47,  47,  47,  47,  47,   4, 157,
            157,  26,   1,   1,   1,   1,   1,   2,  23, 157,
            157, 157, 157, 157, 157, 157, 157,  25,  23, 157,
            157,   3,  47,  47,  47,  47,  47,  48,  23, 157,
            157,  25,   0,   1,   1,   1,   1,   1,  27, 157,
            157,  25,  23, 157, 157, 157, 157, 157, 157, 157,
            157,  25,  46,  47,  47,  47,  47,  47,   4, 157,
            157,  26,   1,   1,   1,   1,   1,   2,  23, 157,
            157, 157, 157, 157, 157, 157, 157,  25,  23, 157,
        ]
    ),
    towers: [
        Tower(tower_type: BASIC, position: (6, 6)),
        Tower(tower_type: BASIC, position: (3, 3)),
        Tower(tower_type: BASIC, position: (6, 3)),
        Tower(tower_type: BASIC, position: (3, 6)),
    ],
    enemies: [
        Enemy(enemy_type: MAN, start_position: (2, 12))
    ],
    path: Path(points: [
        (2, 12),
        (2, 8),
        (8, 8),
        (8, 5),
        (2, 5),
        (2, 2),
        (8, 2),
        (8, -1),
    ])
)
